body {
  margin: 0px;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

div.header {
  height: 700px;
  background-color: #F0F0F0;
  text-align: center;
}

div.header > div {
  background-color: #434343;
}

div.header > h1 {
  padding-top: 200px;
  font-size: 64px;
}

light {
  color: #F0F0F0;
}

dark {
  color: #434343;
}

green {
  color: #78A300;
}
