body {
  margin: 0px;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 64px;
}

h3 a:link, a:visited {
  text-decoration: none;
  color: #434343;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

h3 a:hover {
  text-decoration: none;
  color: #003366;
}

div.header {
  height: 500px;
  background-image: url('../img/canvas.jpg');
  background-size: 100%;
  text-align: center;
}

div.header > div {
  background-color: #434343;
}

div.header > h1 {
  padding: 150px;
}

div.resume {
  height: 225px;
  background-color: #434343;
  text-align: center;
  padding-top: 75px;
}

div.resume > h3 {
}

div.nav {
  height: 50px;
  background-color: #434343;
  text-align: center;
}

div.fixed {
  position: fixed;
  top: 0px;
}

div.projects {
  height: 1500px;
  background-color: #F0F0F0;
  text-align: center;
}

.light {
  color: #F0F0F0;
}

.dark {
  color: #434343;
}

.green {
  color: #78A300;
}
