body {
  margin: 0px;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 64px;
}

h3 a:link, a:visited {
  text-decoration: none;
  color: #434343;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

h3 a:hover {
  text-decoration: none;
  color: #003366;
}

div.header {
  height: 500px;
  background-image: url('../img/canvas.jpg');
  background-size: 100%;
  text-align: center;
}

div.header > div {
  background-color: #434343;
}

div.header > h1 {
  padding: 150px;
}

div.resume {
  height: 225px;
  background-color: #434343;
  text-align: center;
  padding-top: 75px;
}

div.resume > h3 {
  padding-bottom: 107px;
}

div.nav {
  height: 50px;
  width: 100%;
  background-color: #434343;
  text-align: center;
  top: 0px;
  border-bottom: 8px solid #78A300;
}

div.nav span {
  padding-left: 25px;
  padding-right: 25;
  display: inline-block;
}

div.nav span h3 {
  font-weight: 100;
}

div.fixed {
  position: fixed;
}

div.projects {
  height: 1500px;
  background-color: #F0F0F0;
  text-align: center;
}

div.projects h2 {
  font-weight: 100;
  font-size: 48;
  padding-top: 100px;
  margin: 0px;
}

div.projects table {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 1248px;
}

div.projects td {
  background-color: green;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

div.project {
  margin: 15px;
}

.light {
  color: #F0F0F0;
}

.dark {
  color: #434343;
}

.green {
  color: #78A300;
}
